<!--The content below is only a placeholder and can be replaced.-->
<div>
  <h1>
    {{ title }}
  </h1>

  <form>
    <label for="reposQuery">Repo name</label>
    <input id="reposQuery" placeholder="Angular" type="text" />
    <button>Search</button>
  </form>


  <ng-template [ngIf]='!reposData'>
    <h2>Search something interesting like Guess.js, or Puppeteer</h2>
    <img [src]='imgUrl' [alt]='altText' />
  </ng-template>

  <ng-template [ngIf]='reposData'>
    Hay una lista
  </ng-template>

</div>
