<!--The content below is only a placeholder and can be replaced.-->
<div class="search-bar">
  <h1>
    {{ title }}
  </h1>

  <form (ngSubmit)="onSubmit()" #reposForm="ngForm">
    <label for="reposQuery">Search something interesting like Guess.js, or Puppeteer</label>
    <input [(ngModel)]="queryTerm" id="reposQuery" placeholder="Angular" type="text" name="reposQuery" />
    <ng-template [ngIf]='queryTerm.length > 0'>
      <button type="submit">Search</button>
    </ng-template>
  </form>
</div>

<ng-template [ngIf]='reposData'>
  <app-repos-list [list]='reposData'></app-repos-list>
</ng-template>
