/* You can add global styles to this file, and also import other style files */
html {
  --primary-color: rgb(30, 77, 77);
  --secondary-color: #522526;
  --dark-color: #222222;

  background-color: var(--dark-color);
  color: white;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

